body{
    display: grid;
    grid-template-areas:
        "cabeca cabeca cabeca cabeca"
        "esquer princi princi direit"
        "rodape rodape rodape rodape";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    line-height: 150%;
}

.grad_h{
    grid-area: cabeca;
    background-color:#215897 ;
    text-align: center;

}

.logo{
    width: 170px;
    
}

.grad_m{
    grid-area: princi;
    text-align: center;
    background-color: #6b9dbe;
}

.grad_e{
    grid-area: esquer;
    width: 450px;
    background-image: linear-gradient( to right, #215897, #6b9dbe);
}

.grad_d{
    grid-area: direit;
    width: 450px;
    background-image: linear-gradient( to right, #6b9dbe, #215897);
}

.grad_f{
    grid-area: rodape;
}

p, li, h3{
    text-align: justify;
    
}

p{
   font-style: italic;
}

img{
    width: 500px;
}

li{
    color: black;
    animation: alternate;
}