body{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "cabeca cabeca cabeca cabeca"
        "esquer princi princi direit"
        "rodape rodape rodape rodape";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.grad_h{
    grid-area: cabeca;
}

.grad_m{
    grid-area: princi;
    text-align: justify;
}

.grad_e{
    grid-area: esquer;
    width: 300px;
}

.grad_d{
    grid-area: direit;
    width: 300px;
}

.grad_f{
    grid-area: rodape;
}